<h3 class="centeredText">High Scores</h3>

<p class="centeredText">
    These folks are currently holding the top five spots!
    Check out their models by clicking their GitHub links
</p>

<div class="highScoreList" >
    <div class="row" >
        
        <div class="col-5">
            <div class="list-group-item">
                <h3 class="list-group-item-header">#1</h3>
                <h4 class="list-group-item-description">Name</h4>
                <p class="list-group-item-description">Score</p>
                <p class="list-group-item-description">Git</p>
            </div>
    
            <div class="list-group-item">
                <h3 class="list-group-item-header">#2</h3>
                <h4 class="list-group-item-description">Name</h4>
                <p class="list-group-item-description">Score</p>
                <p class="list-group-item-description">Git</p>
            </div>
    
            <div class="list-group-item">
                <h3 class="list-group-item-header">#3</h3>
                <h4 class="list-group-item-description">Name</h4>
                <p class="list-group-item-description">Score</p>
                <p class="list-group-item-description">Git</p>
            </div>
    
            <div class="list-group-item">
                <h3 class="list-group-item-header">#4</h3>
                <h4 class="list-group-item-description">Name</h4>
                <p class="list-group-item-description">Score</p>
                <p class="list-group-item-description">Git</p>
            </div>
    
            <div class="list-group-item">
                <h3 class="list-group-item-header">#5</h3>
                <h4 class="list-group-item-description">Name</h4>
                <p class="list-group-item-description">Score</p>
                <p class="list-group-item-description">Git</p>
            </div>
        </div>
    </div>
</div>
