<div class="container-fluid nav-div bg-primary">
    <nav class="navbar navbar-dark">
        <div class="navbar-header">
            <a [routerLink]="'/home'" href="#" class="navbar-brand"> DATSR </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="'/high-scores'" href="#" class="nav-cat">Score Board</a></li>
            <li><a [routerLink]="'/test-model'" href="#" class="nav-cat">Upload Files</a></li>
            <li><a [routerLink]="'/databases'" href="#" class="nav-cat">Databases</a></li>
        </ul>
    </nav>
</div>
