<form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="answer">
            Answer
        </label>
        <input id="answer" type="text" formControlName="answer">
    </div>
    <div>
        <label for="gitURL">
            GitURL
        </label>
        <input id="gitURL" type="text" formControlName="gitURL">
    </div>
    <button class="button" type="submit">Click Me</button>
</form>

<div>
    <p>You Entered:</p>
    <p>{{this.userString}}</p>
</div>
