<h2 class="centeredText">DATSR</h2>
<h3 class="centeredText">Dux Amazing Time Series Repository</h3>

<pre></pre>

<div class="centeredText">
    <h4> The Problem: </h4>
    <p>Time series analysis is a growing field of research and 
        is increasingly being applied to industry as well. 
    </p>
    <p>However, despite interest in time series analysis, 
        there is no clear choice for a repository of this data. 
    </p>
    <p>Other repositories exist, but lack certain key features 
        and/or have problems with the data they provide.
    </p>
    <pre></pre>
    <h4> Our Solution: </h4>
    <p>We have built DATSR: an efficient, 
        user-friendly web-hosted repository 
        designed for time series data.
    </p>
    <p> 
        DATSR allows users to not only upload and test their Time Series Models,
        but also allows them to upload their own datasets, both in Upload Your Files.
    </p>
    <p>
        Navigate to our Score Board page, to view the current High Score Models,
        or click on the Databases tab, to view our current available datasets.
    </p>
    <pre></pre>
</div>

