
<div class="container-fluid">
<h2 class="centeredText big-logo">DATSR</h2>
<h3 class="centeredText sub-logo">Dux Amazing Time Series Repository</h3>
</div>

<div class="container-fluid bg-light">
    <div>
        <h4 class="title text-primary">About The Site</h4>
        <p class="desc">DATSR is a data repository built specifically with time series in mind. We provide a clean and easy interface for users to download and contribute data with the added functionality of a built-in prediction evaluate and score board (for all the competitive engineers out there).
        </p>
    </div>

    <div>
        <h4 class="title text-primary">Documentation</h4>
        <p class="desc">
            Click below to open the user documentation for the site:
        </p>
        <div class="doc-links centeredText">
            <a href="user-docsa" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">User Documentation</a>
        </div>
    </div>

    <div>
        <h4 class="title text-primary">Our Team</h4>
        <div class="row team-table">
            <div class="col col-sm-6">
                <h5 class="team-name">Sam Heilenbach</h5>
                <h6 class="team-role">Database Wizard</h6>
                <br>
                <h5 class="team-name">Ian McConachie</h5>
                <h6 class="team-role">Forger of Documentation</h6>
                <br>
                <h5 class="team-name">Austin Warren</h5>
                <h6 class="team-role">The Data Bender</h6>
            </div>
            <div class="col col-sm-6">
                <h5 class="team-name">Cheyanne Kester</h5>
                <h6 class="team-role">Master of Angular</h6>
                <br>
                <h5 class="team-name">Scott Wallace</h5>
                <h6 class="team-role">Titan of Typescript</h6>
            </div>
        </div>
    </div>

    <div>
        <h4 class="title text-primary">Our Story</h4>
        <p class="desc">
            Starting out from humble beginnings as an assigned group in a software engineering class at the University of Oregon, DUX D-Zine has now ascended to become the world's leading software development firm after they released their revolutionary application, DATSR.
            <br>
            <br>
            Owing much of their success to the marvelous work of their professor Juan Flores and GE Kartikeya Sharma, the DUX D-Zine team decided to establish the Flores and Sharma Foundation. The goal of the foundation is to educate the world on responsible software project management.
        </p>
    </div>
</div>
