<div class="centeredText">
    <h2 class="big-logo">{{ title }}</h2>
    <p class="sub-logo">{{ about }}</p>
</div>

<div class="centeredText">
    <ul>
        <div class ="borderedBox" *ngFor="let col of db">
            collection: {{col[0]}}
            <div class="borderedBox" *ngFor="let frame of col[1]">
                set name: {{frame}}
                <button type="button" (click)="onClick(col[0], frame)">
                    Download Here!
                </button>
            </div>
        </div>
    </ul>
</div>