<h2 class="centeredText big-logo">Score Board</h2>

<h4 class="centeredText sub-logo">{{currentDatabaseBoard}}</h4>
<p class="centeredText">
    These folks are currently holding the top five spots!
    Check out their models by clicking their GitHub links
</p>

<div class="highScoreList" >
    <div class="borderedBox">
        <h3>#1</h3>
        <h4>Name: {{this.firstPlaceUser.name}}</h4>
        <p>Score: {{this.firstPlaceUser.score}} </p>
        <p>GitHub: 
            <a href={{this.firstPlaceUser.gitURL}}> {{this.firstPlaceUser.gitURL}} </a>
        </p>
    </div>

    <div class="borderedBox">
        <h3>#2</h3>
        <h4>Name: {{this.secondPlaceUser.name}}</h4>
        <p>Score: {{this.secondPlaceUser.score}} </p>
        <p>GitHub: 
            <a href={{this.secondPlaceUser.gitURL}}> {{this.secondPlaceUser.gitURL}} </a>
        </p>
    </div>

</div>
<div class="highScoreList" >
    <div class="borderedBox">
        <h3>#3</h3>
        <h4>Name: {{this.thirdPlaceUser.name}}</h4>
        <p>Score: {{this.thirdPlaceUser.score}} </p>
        <p>GitHub: 
            <a href={{this.thirdPlaceUser.gitURL}}> {{this.thirdPlaceUser.gitURL}} </a>
        </p>
    </div>

    <div class="borderedBox">
        <h3>#4</h3>
        <h4>Name: {{this.fourthPlaceUser.name}}</h4>
        <p>Score: {{this.fourthPlaceUser.score}} </p>
        <p>GitHub: 
            <a href={{this.fourthPlaceUser.gitURL}}> {{this.fourthPlaceUser.gitURL}} </a>
        </p>
    </div>

    <div class="borderedBox">
        <h3>#5</h3>
        <h4>Name: {{this.fifthPlaceUser.name}}</h4>
        <p>Score: {{this.fifthPlaceUser.score}} </p>
        <p>GitHub: 
            <a href={{this.fifthPlaceUser.gitURL}}> {{this.fifthPlaceUser.gitURL}} </a>
        </p>
    </div>
</div>

<h3 class="centeredText sub-logo">Check out some of the other submissions below!</h3>

<div class="scoreList scrollable centeredText">
    <ul>
        <div *ngFor="let user of allUsers">
            <p>{{user.name}}  {{user.score}}  
                <a href={{user.gitURL}}> {{user.gitURL}}</a>
            </p>
            
        </div>
    </ul>
</div>

<h3 class="centeredText"> Select the Dabase To View here</h3>
<div class="scrollable highScoreList centeredText">
    <ul>
        <div *ngFor="let database of databaseNames">
            <h4 (click)="selectDatabase(database)">
                <a>{{database}}</a>
            </h4>
        </div>
    </ul>
</div>