.navbar-custom {
	background-color: #337ab7;
}

.navbar-brand{
	font-size: 2em;
    color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

.nav-cat {
	color: white;
}

.nav-cat:hover {
	color: #d4d4d4;
}


