<div class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="'/home'" href="#" class="navbar-brand"> DATSR </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="'/high-scores'" href="#">Score Board</a></li>
            <li><a [routerLink]="'/test-model'" href="#">Upload Your Files</a></li>
            <li><a [routerLink]="'/databases'" href="#">Databases</a></li>
        </ul>
    </div>
</div>
